.header {
  border-bottom: 1px rgb(84 84 84 / 0.7) solid;
  padding-top: 45px;
  padding-bottom: 45px;
}

@media (max-width: 925px) {
  .header__logo {
    margin-left: 15px;
  }
}

@media (max-width: 750px) {
  .header__logo {
    margin-left: 25px;
  }
}

@media (max-width: 320px) {
  .header__logo {
    margin-left: 27px;
    width: 126px;
    height: 24px;
  }
}
