.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.popup__container {
  position: relative;
  width: 430px;
  height: 330px;
  background-color: white;
  border-radius: 10px;
}

.popup__close-button {
  height: 45px;
  width: 45px;
  background: url("../images/close-icon.svg") no-repeat center;
  border: none;
  position: absolute;
  top: -45px;
  right: -45px;
}

@media (max-width: 550px) {
  .popup__container {
    width: 282px;
    height: 322px;
  }

  .popup__close_button {
    top: -75px;
    right: 0;
  }
}

@media (max-width: 320px) {
  .popup__close-button {
    top: -60px;
    right: 5px;
  }
}
